body  {
    background-image: url("homepage_wallpaper.jpg");
   
  }

  h1
  {
      margin-top : 50px;
      text-align :  center;
      color:white;
      font-family: Arial, Helvetica, sans-serif;
      text-shadow: 2px 2px 4px   #33bbff;
  }

  #admin_image
  {
    border-radius: 50%;
    width : 250px;
    height : 250px;
    margin-top : 150px;
    margin-left : 150px;
  }

  #user_image
  {
    border-radius: 50%;
    width : 250px;
    height : 250px;
    margin-top : 150px;
    margin-left : 120px;
  }
  
  img:hover {
    box-shadow: 5px 0px 40px #33bbff ;
  }